node_modules
.next
dist
out
coverage
test-results

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log
*.tsbuildinfo

.DS_Store
.git
.github
.tmp
.vscode
.idea

dev.db
test.db